annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.7
importlib_metadata==8.0.0
multimethod==1.10
mypy-extensions==1.0.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pandera==0.20.3
psycopg2-binary==2.9.9
pydantic==2.8.2
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.31
typeguard==4.3.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wrapt==1.16.0
zipp==3.19.2
